{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'agenda/css/form.css' %}">
    <script defer src="/static/agenda/js/agenda.js"></script>
{% endblock %}
{% block content %}
<div class="card">
    <h2>Gerar atendimentos do período</h2>
    <form method="post" class="form-grid">
        {% csrf_token %}
        <p><label>Data inicial</label><input type="date" name="data_inicial" required></p>
        <p><label>Data final</label><input type="date" name="data_final" required></p>
        <button class="btn-primary" type="submit">Gerar</button>
    </form>
</div>
{% endblock %}
