{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/form.css' %}">
    <script defer src="/static/users/js/users.js"></script>
{% endblock %}
{% block content %}
<div class="card">
    <h2>{{ titulo }}</h2>
    {% if usuario %}
    <p class="text-muted">Se não quiser alterar a senha, deixe o campo em branco.</p>
    {% endif %}
    <form method="post" class="form-grid">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-primary" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}
